/TMB_REST/.vs
/TMB_REST/.vs
/TMB_REST/.vs/TMB_REST.slnx/FileContentIndex
TMB_REST/.vs/TMB_REST.slnx/FileContentIndex/a30f94f9-2b85-4b9f-9c64-b1099055b8c5.vsidx
/TMB_REST/.vs/TMB_REST.slnx/FileContentIndex
